<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/fontawesome-5.15.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../public/css/style_acceuil.css">
    <script src="../../public/js/all.min.js"></script>

    <title>Clients</title>
</head>

<body>
    <header>
        <ul>
            <img src="/image/Logo-atitle-hotelJ.png" class="logo" alt="">
            <li class="clientNom" id="nom" style="float:left"> ALTITEL HOTEL</li>
            <li><a href="#about" class="deconnexion">Déconnexion</a></li>
            <li class=" accueil"><a href="/acceuil/clients">Accueil</a></li>
            <li class=" main_courante"><a href="/receptioniste/main_courant">Main courant</a></li>
            <li class="bilan"><a href="">Bilan</a></li>
            <li class="facture"><a href="">Facture</a></li>
        </ul>
    </header>
    <!--------------------------End of Tableau---------------------->

    <div class="corps">

        <section class="gauche">


            <div class="enregistrer">

                <a href="/receptioniste/client"><button class="h2">Nouveau client</button></a>
            </div>
            <section class="resultatGlobal">
                <h4 class="titre1">
                    Nombre total de client</h4>
                <h5 class="sousTitre1">
                    Nombre total de client present dans l'hotel
                </h5>
                <p class="nombre_client " id="nombre_client">
                    <%= client.length %>
                </P>
                <hr class="separateur">
                <div class="bas">
                    <div class="marqueur"></div>
                    <div class="texte1">
                        <p>Cette information permet de constater le nombre total de client present dans l'hotel</p>
                    </div>
                </div>
            </section>
            <section class="StatBrefClient">

                <div class="nombreEnquete" id="liennbrenquetes">
                    <h4 class="titre2">
                        Nouvelle Entrée
                    </h4>
                    <div class="entréesortie"><button class="btnenregistrement">Entrée</button></div>
                    <hr class="separateur1">
                    <div class="bas1">
                        <div class="marqueur1"></div>
                        <div class="texte2">
                            <p>Cliquez ici pour enregistrer une nouvelle entrée</p>
                        </div>
                    </div>
                </div>

                <div class="resultatEnqueteEnCours">
                    <h4 class="titre2">
                        Nouvelle Sortie
                    </h4>

                    <div class="entréesortie"><button class="btnenregistrement">Sortie</button></div>
                    <hr class="separateur1">
                    <div class="bas1">
                        <div class="marqueur1"></div>
                        <div class="texte2">
                            <p>Cliquez ici pour enregistrer une nouvelle sortie</p>
                        </div>
                    </div>
                </div>

            </section>

        </section>

        <!--------------------------End of enrégistement---------------------->
        <section class="droite">
            <div class="titredroit">
                <h4 class="titreListe titre1">Liste des clients présent à l'hotel</h4>
            </div>
            <div class="table-responsive">

                <table class="table table-borderless tableau">

                    <thead class="forme">
                        <tr>
                            <td>Nom</td>
                            <td>N° chambre</td>
                            <td>voir plus</td>
                            <td>Passer<br>commande</td>
                            <td>Consulter<br>facture</td>

                        </tr>
                    </thead>
                    <% var i = 0%>
                        <% client.forEach(function(r){  %>
                            <tr>
                                <td>

                                    <%=r.nom %>

                                </td>
                                <td>

                                    <%=chambre[i].id_chambre %>


                                </td>
                                <td>
                                    <div class="groupe">
                                        <button class="btn btn-info" id="btn">Détails</button>

                                    </div>
                                </td>
                                <td>
                                    <div class="groupe">
                                        <a href="/receptioniste/commande/<%=r.id_client %>"><button  id="couleur0">Ajouter</button></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="groupe">
                                        <a href="/admin/genererFacture/<%=r.id_client %>"><button id="couleur1">Client</button></a>
                                    </div>
                                </td>
                            </tr>
                            <% i=i+1 %>
                                <% }) %>


                </table>

            </div>

        </section>

    </div>


    <!--------------------------------footer--------------------------------->
    <footer>
        <div class="footer">
            copyrygth MI 2020
        </div>

    </footer>
    <!--------------------------------footer--------------------------------->

    <!-----------------------------Jquery Library file---------------------------->
    <script src="/js/Jquery3.4.1.min.js"></script>

    <!-----------------------------Custom javascript file------------------------->
    <script src="/js/main_ac.js"></script>
    <script type="text/javascript" src="../../public/fontawesome-5.15.2/js/fontawesome.js"></script>

</body>

</html>