<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Import jquery cdn -->
    <script src="/js/Jquery3.4.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/fontawesome-5.15.2/css/fontawesome.min.css">
<!--    <link rel="stylesheet" href="../../public/css/style_acceuil.css">-->
    <link rel="stylesheet" href="../../public/Accueil/css/style.css">
    <!---------------------------------boostrap------------------------------->
    <link rel="stylesheet" href="../../public/Accueil/css/bootstrap.min.css">
    <!--------------------------And of boostrap------------------------------>

    <!---------------------------------Font icons------------------------------->
<!--    <link rel="stylesheet" href="../../public/Accueil/css/all.css">-->
    <script src="../../public/js/all.min.js"></script>
    <link href="../../public/DataTables/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">

    <title>Clients</title>
</head>

<body>
<ul>
<!--    <img src="/image/Logo-atitle-hotelJ.png" class="logo" alt="">-->
<!--    <li class="clientNom" id="nom" style="float:left">HOTEL ALTITEL</li>-->
<!--    <li><a href="/logout" class="deconnexion">Déconnexion</a></li>-->
<!--    <li class=" main_courante"><a href="/receptioniste/main_courant">Main courante</a></li>-->
<!--    <li class="bilan"><a href="/bilan">Bilan</a></li>-->
<!--    <li class=" accueil"><a href="/acceuil/clients">Accueil</a></li>-->
</ul>
</header>
<!--------------------------End of Tableau---------------------->
<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->

<!--</div>-->
<div class="corps">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="hpanel">
                    <div class="panel-header ">
                        <h2 class="mb-2">Liste des clients présent</h2>
                        <% if(message != undefined && message != ''){ %>
                            <div class="alert alert-success alert-block">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong><%= message %></strong>
                            </div>
                        <% } %>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class=""></div>
                            <table border="1" id="clientTable" class="table table-striped table-bordered  text-center">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom et prenom</th>
                                    <th>Téléphone</th>
                                    <th>Chambre</th>
                                    <th>Pays</th>
                                    <th>Nationnalité</th>
                                    <th>Destination</th>
<!--                                    <th>Date arrivé</th>-->
<!--                                    <th>Date départ</th>-->
                                    <th>Nombre</th>
                                    <th>Nombre de jour</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <% var Totalchambre=0; var comp=1; var totalcommande = 0;   %>

                                <% clientdata.forEach(function(client){ %>
                                    <tr class="<%=client.status_ch==0?'bg-danger':''%>">
                                        <td><%=comp%></td>
                                        <td><%=client.nom%> <%=client.prenom%></td>
                                        <td> <%=client.tel%></td>
                                        <td> <%=client.categorie%>(<%=client.prix%>)</td>
                                        <td> <%=client.pays%></td>
                                        <td> <%=client.nationalite%></td>
                                        <td> <%=client.destination%></td>
<!--                                        <td> <%=client.date_arrive%></td>-->
<!--                                        <td> <%=client.date_depart%></td>-->
                                        <td> <%=client.nbpersonne%></td>
                                        <td><%=client.nb_jour%></td>
                                        <td>
                                                <div class="btn_group">
                                                    <div class="btn-group">
                                                        <a type="button"
                                                           class="btn btn-primary bg-gradient-primary dropdown no-arrow "
                                                           data-toggle="dropdown" style="color:white;">
                                                            ... <span class="caret"></span></a>

                                                        <ul class="dropdown-menu text-center" role="menu">

                                                            <li>
                                                                <a type="button"
                                                                   class="btn btn-warning btn-block"
                                                                   href="/client/modifier/<%=client.id_client%>" title="Modifier la commande">
                                                                    <i class="fas fa-fw fa-edit"></i>
                                                                </a>
                                                                <a type="button"
                                                                   class="btn btn-secondary m-1 btn-block"
                                                                   href="#" onclick="showDetaits(<%=client.id_client%>)" title="Plus de détails sur  ce client">
                                                                    <i class="fas fa-fw fa-book-open"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a type="button"
                                                                   class="btn btn-light bg-gradient-warning btn-block"
                                                                   href="#<%=client.id_chambre%>" title="Libérer la chambre">
                                                                    <i class="fas fa-check-circle"></i>
                                                                </a>
                                                                <a type="button"
                                                                   class="btn btn-primary btn-block" href="/generateReport2/<%= client.id_client %>"
                                                                   id="delete-user"  data-toggle="tooltip" title="Imprimer la facture">
                                                                    <i class="fas fa-fw fa-file-pdf"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <% if(client.status_ch === 0 ) {%>
                                                                <a type="button"
                                                                   class="btn btn-success  btn-block" href="javascript:void(0);"
                                                                   id="activate-user" onClick="validerFunc(<%= client.id_client%>)"
                                                                   data-toggle="tooltip" title="Valider la commade ">
                                                                    <i class="fas fa-fw fa-check" ></i>
                                                                </a>
                                                                <%}%>
                                                                    <% if(client.status_ch ===1) { %>
                                                                <a type="button"
                                                                   class="btn btn-dark m-1 "
                                                                   href="javascript:void(0);"
                                                                   id="block-user" onClick="blockerFunc(<%= client.id_client %>)"
                                                                   data-toggle="tooltip" title="Blocker cette commande">
                                                                    <i class="fas fa-fw fa-lock"></i>
                                                                </a>
                                                                        <%}%>
                                                                    <form id="validerForm<%= client.id_client %>">
                                                                            <input type="hidden" name="id_cc[]" value="<%= client.id_chambre %>">

                                                                        <input type="hidden" name="id_client" value="<%= n %>">
                                                                    </form>
                                                                <a type="button"
                                                                   class="btn btn-danger btn-block" href="javascript:void(0);"
                                                                   id="delete-user" onclick="supFun(<%=client.id_client%>)"
                                                                   data-toggle="tooltip" title="Supprimer ce client">
                                                                    <i class="fas fa-fw fa-trash"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-info m-1" title="Ajouter une commande" href="/receptioniste/commande/<%= client.id_client %>">
                                                                    <i class="fas fa-plus"></i>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                        </td>
                                    </tr>
                                <% Totalchambre = client.prix * client.nb_jour; var Tbar=0; var Trestaurant =0; var Tlinge = 0;
                                var TpetitD = 0; var Tdivers = 0;
                                commandedata.forEach(function (commande){
                                    %>
                                <% if (commande.id_client === client.id_client){
                                    if (commande.lieu == 'Bar') {
                                        Tbar = Tbar + commande.montant * commande.nombre;
                                    }
                                    if (commande.lieu == 'Restaurant') {
                                        Trestaurant = Trestaurant + commande.montant * commande.nombre;
                                    }
                                    if (commande.lieu == 'Linge') {
                                        Tlinge = Tlinge + commande.montant * commande.nombre;
                                    }

                                    if (commande.lieu == 'Petit dejeune') {
                                        TpetitD = TpetitD + commande.montant * commande.nombre;
                                    }
                                    if (commande.lieu == 'Divers') {
                                        Tdivers = Tdivers + commande.montant * commande.nombre;
                                    }

                                }%>
                                <%    }) ; totalcommande = Tdivers + Tbar + Tlinge + TpetitD + Trestaurant; %>
                                <div id="overlay<%=client.id_client%>" class="overlay" style="display: none;">
                                <div id="popup<%=client.id_client%>" class="popup">
                                <h2 class="bg-h2">
                                    Détails du client: <%=client.nom%> <%=client.prenom%>
                                <span id="btnClose" class="btnClose">&times;</span>
                                </h2>
                                <div class="row">
                                    <div class="col-md-6 offset-1 mt-2 mb-2">
                                        <p>
                                            Numero de chambre : <span class="gras"><label id="numchambre"><%=client.categorie%>(<%=client.montant%>)</label></span><br> Facture Petit
                                            déjeuner :<%=TpetitD%> <span class="gras"><label id="facture_pd"></label></span><br> Facture Restaurant :<%=Trestaurant%> <span
                                                    class="gras"><label id="facture_r"></label></span><br> Facture Bar :<%=Tbar%> <span
                                                    class="gras"><label id="facture_bar"></label></span><br>
                                        </p>
                                    </div>
                                    <div class="col-md-4 offset-1 mt-2 mb-2">
                                        <p>
                                            Facture Linge :<%=Tlinge%> <span class="gras"><label id="facture_linge"></label></span><br> Facture Divers :<%=Tdivers%>
                                            <span class="gras"><label id="facture_divers"></label></span><br> Facture Chambre : <%=Totalchambre%> <span
                                                    class="gras"><label id="facture_c"></label></span><br> Montant total :<%=Totalchambre + totalcommande %> <span
                                                    class="gras"><label id="montantT"></label></span><br>
                                            <!--                        Facture Jour : <span class="gras">2</span><br>-->
                                            <!--                        Facture Rapport veille : <span class="gras">2</span><br>-->
                                        </p>
                                    </div>
                                </div>

                        </div>
                    </div>


                               <% comp ++; Totalchambre=0; }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        </div>
    </div>
</div>
<div class="row mt-4">
    <footer>
        <div class="footer">
            copyrygth MI 2020
        </div>

    </footer>
</div>

<!--------------------------------footer--------------------------------->

<!-----------------------------Jquery Library file---------------------------->
<script src="/js/Jquery3.4.1.min.js"></script>

<!-----------------------------Custom javascript file------------------------->
<script src="/js/main_ac.js"></script>
<script type="text/javascript" src="../../public/fontawesome-5.15.2/js/fontawesome.js"></script>
<script src="../../public/DataTables/datatables.min.js"></script>
<script>
    $('#clientTable').DataTable();
    $("#popup").hide();
    $("#overlay").hide();
    $(".btnClose").click(function () {
        $(".popup").hide(200);
        $(".overlay").hide(200);
    });
    $(".btnPopup").click(function () {

    });
    function showDetaits(id){
        $("#popup"+id).show(200);
        $("#overlay"+id).show(200);
    }
    function editFunc(id) {

        $.ajax({
            type: "GET",
            url: "/client/detail",
            data: {
                id: id
            },
            dataType: 'json',
            success: function (res) {
                // console.log(res);
                var num_chambre = '';
                for (var i = 0; i < res.Infos.length; i++) {

                    num_chambre = num_chambre + res.Infos[i].id_chambre + ",";

                }

                // $('#state').append($('<option>', {value:k, text:v}));
                $('#numchambre').html(num_chambre);
                $('#facture_pd').html(res.TpetitD);
                $('#facture_bar').html(res.Tbar);
                $('#facture_divers').html(res.Tdivers);
                $('#facture_linge').html(res.Tlinge);
                $('#facture_r').html(res.Trestaurant);
                $('#facture_c').html(res.Tchambre);
                $('#montantT').html(res.Total);


            }
        });
    }
</script>


<script type="text/javascript">
    // alert('admin');
    $("#submit").click(function () {


        var name = $("#name").val();

        var str = "You Have Entered " +
            "Name: " + name;

        $("#modal_body").html(str);
    });
 function clientDetails(id){
     $("#detailModal"+id).show(200);
 }
    //
    function editFunc1(id) {
        // $("#exampleModal").show(100);
        $.ajax({
            type: "GET",
            url: "/client/detail",
            data: {
                id: id
            },
            dataType: 'json',
            success: function (res) {
                // console.log(res);
                var num_chambre = '';
                for (var i = 0; i < res.Infos.length; i++) {

                    num_chambre = num_chambre + res.Infos[i].id_chambre + ",";

                }
                $('#numchambre').html(num_chambre);

            }
        })
    }

    function validerFunc(id) {
        var form = $("#validerForm" + id).serialize();
        // var form = $("#validerForm"+id).serialize().this;
        console.log(form);
        $.ajax({
            type: "get",
            url: "/admin/valider",
            data: $("#validerForm" + id).serialize(),

            // dataType: 'json',
            // beforeSend: function () {
            //     $('.savebtn').disabled = true;
            // },
            success: function (res) {
                // console.log(res);
                if (res) {
                    alert("Valider avec succès");
                    window.location.reload();
                } else {
                    alert("Erreur! Veillez recommencer.");
                    window.location.reload();

                    // window.location.redirect("/");
                }
            }

        })
    }

    function blockerFunc(id) {
        if (confirm("Voulez vous  bloquer cette commande ? ") == true) {
            var form = $("#validerForm" + id).serialize();
            // var form = $("#validerForm"+id).serialize().this;
            console.log(form);
            $.ajax({
                type: "get",
                url: "/admin/blocker",
                data: $("#validerForm" + id).serialize(),

                // dataType: 'json',
                beforeSend: function () {
                    $('.btn-valider').disabled = true;
                },
                success: function (res) {
                    // console.log(res);
                    if (res) {
                        alert("Blocker avec succès");
                        window.location.reload();
                    } else {
                        alert("Erreur! Veillez recommencer.");
                        window.location.reload();

                    }

                }
            })
        }
    }
</script>
</body>


</html>