
<html>
	<head>
		<meta charset="UTF-8">
	
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
        <title>Formulaire</title>
	</head>
	<body>
<div class="container">
    <h1> Facture</h1>

    <% if(typeof alert != 'undefined'){%>
        <% alert.forEach(function(error){%>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= error.msg %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% }) %>

    <% } %>
   
    




    
</div>





<form action="/receptioniste/facture" method="POST">



<div class="text">
 
    
     
    
        <table class="table">
          <thead>
            <tr>
              <th scope="col">numéro</th>
              <th scope="col">nom du client</th>
              <th scope="col">nom_commande</th>
              <th scope="col">prix</th>
              <th scope="col">nombre</th>
              <th scope="col">total</th>
              
              <th scope="col">action</th>
            </tr>
          </thead>
          <% if(l != undefined ){ %>
          <% for(var i=0; i<l; i++){ %>
          <tbody>
            <tr>
              
              
              
              <th scope="row"><%= row[i].id_facture %></th>
              <td><%=nom[i].nom %></td>
              <td><%=row[i].nom_commande%></td>
              <td><%=row[i].prix%></td>
              <td><%=row[i].nombre %></td>
              <td><%=row[i].total %></td>
              
              <td> <button type="submit" class="btn btn-primary" value= "<%= row[i].id_facture %>" name="imp" >imprimer</button></td>
              <br>
              <% } %>
              <% } %>
            </tr>
           
            </tbody>
        </table>
       
</div>

  
      

<!-------------------termes------------------------------->
 
  

</form>


</body>
</html>