<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/enregistrer/css/style.css">
    <!---------------------------------Font icons------------------------------->
    <link rel="stylesheet" href="../../public/enregistrer/css/all.css">
    <!--------------------------And of Font icons------------------------------>
    <title>Ajouter client</title>
</head>
<body>
<!--------------------------------Navigation------------------------------->


<nav class="nav">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <div class="img">
                <img src="image/Logo-atitle-hotelJ.png" alt="logo" style="width: 50px; height: 50px;">
            </div>
            <span> HOTEL ALTITEL</span>
        </div>


        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>

        <div class="nav-items">
            <li class="nav-link">
                <a href="/acceuil/clients">Accueil</a>
            </li>
            <li class="nav-link">
                <a href="/receptioniste/main_courant">Main courant</a>
            </li>
            <li class="nav-link">
                <a href="">Bilan</a>
            </li>
            <li class="nav-link">
                <a href="">Facture</a>
            </li>
            <li class="nav-link">
                <a href="">Contact </a>
            </li>
        </div>

        <div class="social text-gray">
            <a href="/logout" class="lien">Déconnexion</a>
        </div>
    </div>
</nav>

<!-----------------------------End of Navigation--------------------------->


<section class="container">


    <div class="champ">

        <% if ( infos[0] != undefined){%>

        <h3><strong>Information du client</strong></h3><br>
        <h2><strong><%= infos[0].nom  %> <%= infos[0].prenom %></strong></h2>
        <div class="contenu">
            <!--            <div class="nom_num">-->
            <!--                <div class="nom">-->
            <!--                    <p>Nom du client</p>-->
            <!--                    <input type="text" id="nom" name="nom">-->
            <!--                </div>-->
            <!--                <div class="nom">-->
            <!--                    <p>Numero de téléphone</p>-->
            <!--                    <input type="text" id="phone" name="phone">-->
            <!--                </div>-->
            <!--            </div>-->

            <!--            <div class="prenom_cin">-->
            <!--                <div class="nom">-->
            <!--                    <p>Prenom du client</p>-->
            <!--                    <input type="text" id="prenom" name="prenom">-->
            <!--                </div>-->
            <!--                <div class="nom">-->
            <!--                    <p>Numero de CIN</p>-->
            <!--                    <input type="text" id="cni" name="cni">-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
        <form method="post" action="/client/modifier">
            <input type="hidden" value="<%= infos[0].id_client %>" id="id_client" name="id_client">

            <h2>Chambre(s) disponible(s)</h2>

            <div class="etat">

                <div class="chambre_standart">
                    <p>Chambre standart</p>

                    <% row.forEach(function(r){

                    if(r.categorie === 'chambre standart'){
                    %>
                    N° <%= r.id_chambre %>
                    <input type="checkbox" class="back" id="gap" name="chambre" value="<%= r.id_chambre %>" class="b">
                    <% }
                    }) %>

                </div>
                <div class="chambre_standart">
                    <p>Chambre climatisée</p>
                    <% row.forEach(function(r){

                    if(r.categorie === 'climatise'){
                    %>
                    N° <%= r.id_chambre %>
                    <input type="checkbox" class="back" id="gap" name="chambre" value="<%= r.id_chambre %>" class="b">
                    <% }
                    }) %>

                </div>
                <div class="chambre_standart">
                    <p>Chambre de luxe</p>
                    <% row.forEach(function(r){
                    if(r.categorie === 'chambre de luxe'){
                    %>
                    N° <%= r.id_chambre %>
                    <input type="checkbox" class="back" id="gap" name="chambre" value="<%= r.id_chambre %>" class="b">
                    <% }
                    }) %>

                </div>
                <div class="chambre_standart">
                    <p>Chambre double</p>
                    <% row.forEach(function(r){
                    if(r.categorie === 'chambre double'){
                    %>
                    N° <%= r.id_chambre %>
                    <input type="checkbox" class="back" id="gap" name="chambre" value="<%= r.id_chambre %>" class="b">
                    <% }
                    }) %>

                </div>
                <div class="chambre_standart">
                    <p>Appartement</p>
                    <% row.forEach(function(r){
                    if(r.categorie === 'appartement'){
                    %>

                    N° <%= r.id_chambre %>
                    <input type="checkbox" class="back" id="gap" name="chambre" value="<%= r.id_chambre %>" class="b">
                    <% }
                    }) %>

                    <!--                    <button class="back" id="gap">1</button>-->
                    <!--                    <button class="back">2</button>-->
                </div>
            </div>

            <button type="submit" class="checked_in">Enregistrer</button>
        </form>
            <%}else{ %>
                <div class="col-md-4 text-center bg-danger">
                    <h2>Aucun resultat trouvé</h2>
                    <h3>Le client n'exite pas veillez l'enregistrer.</h3><br>
                    Cliquez<a href="/receptioniste/client">ici</a>
                </div>
            <%}%>
    </div>
</section>


<!-----------------------------Jquery Library file---------------------------->
<script src="../../public/enregistrer/js/Jquery3.4.1.min.js"></script>

<!-----------------------------Custom javascript file------------------------->
<script src="../../public/enregistrer/js/main.js"></script>
</body>
</html>