<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_main.css">
    <!---------------------------------boostrap------------------------------->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--------------------------And of boostrap------------------------------>

    <!---------------------------------Font icons------------------------------->
    <link rel="stylesheet" href="/css/all_main.css">

    <title>Main courante</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/fontawesome-5.15.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../public/css/style_acceuil.css">
    <link rel="stylesheet" href="../../public/Accueil/css/style.css">
    <!---------------------------------boostrap------------------------------->
    <link rel="stylesheet" href="../../public/Accueil/css/bootstrap.min.css">
    <!--------------------------And of boostrap------------------------------>

    <!---------------------------------Font icons------------------------------->
    <link rel="stylesheet" href="../../public/Accueil/css/all.css">
    <script src="../../public/js/all.min.js"></script>

</head>

<body>
<!------------------------header--------------------------------->

<header>
    <ul>
        <img src="/image/Logo-atitle-hotelJ.png" class="logo" alt="">
        <li class="clientNom" id="nom" style="float:left"> ALTITEL HOTEL</li>
        <li><a href="/logout" class="deconnexion">Déconnexion</a></li>
        <li class=" main_courante"><a href="/receptioniste/main_courant">Main couran</a></li>
        <li class="bilan"><a href="">Bilan</a></li>
        <li class="facture"><a href="">Facture</a></li>
        <li class=" accueil"><a href="/acceuil/clients">Accueil</a></li>
    </ul>
</header>

<!--    <nav class="ab">-->
<!--        <div class="ab-menu flexs-row">-->
<!--          <div class="ab-brand">-->
<!--            <div class="image">-->
<!--              <img src="/image/Logo-atitle-hotelJ.png" alt="logo"  style="width: 50px; height: 50px;">-->
<!--            </div>          -->
<!--            <span> HOTEL ALTITEL</span>-->
<!--          </div>-->
<!--          -->
<!--  -->
<!--          <div class="toggles-collapses">-->
<!--            <div class="toggles-icons">-->
<!--              <i class="fas fa-bars"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--  -->
<!--          <div class="ab-items">-->
<!--            <li class="ab-link">-->
<!--                <a href="/acceuil/clients"  class="ligne">Accueil</a>-->
<!--            </li>-->
<!--            <li class="ab-link">-->
<!--              <a href="/receptioniste/main_courant"  class="ligne">Main courant</a>-->
<!--            </li>-->
<!--            <li class="ab-link">-->
<!--              <a href=""  class="ligne">Bilan</a>-->
<!--            </li>-->
<!--            <li class="ab-link">-->
<!--              <a href=""  class="ligne">Facture</a>-->
<!--            </li>-->
<!--            <li class="ab-link">-->
<!--              <a href="" class="ligne">Contact </a>-->
<!--            </li>-->
<!--          </div>-->
<!--  -->
<!--          <div class="socials text-gray">-->
<!--            <a href="/logout" class="liens ligne">Deconnexion</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </nav>-->
<!--------------------End of header--------------------------------->
<!--<div class="container">-->

    <main>

        <section>

            <div class="title-date">
                <div class="title">
                    <h2>Main courant réception</h2>
                </div>


                <form action="/receptioniste/main_courant" method="POST">

                    <div class="date">
                        <label for="date">Selectionner la date ici</label>
                        <input type="date" name="date" id="date" class="date_color">
                        <button type="submit">valider</button>
                    </div>
                </form>
            </div>
        </section>


        <section>
            <table class="table table-borderless">
                <thead class="forme">
                <tr>
                    <th>Nom</th>
                    <th>N°chambre</th>
                    <th>Petit déjeuner</th>
                    <th>Restaurant</th>
                    <th>Bar</th>
                    <th>Linge</th>
                    <th>Divers</th>
                    <th>Total jour</th>
                    <th>Rpport veille</th>
                    <th>Total général</th>
                    <th>Règlement</th>
                    <th>A raporter</th>
                </tr>
                </thead>

                <tr>
                    <% var i = 0;
                    var totalj = 0;
                    var totaljh = 0;
                    var totalg = 0;
                    if(commande.length >= 1){
                    client.forEach(function(row){ %>
                        <td><%= row.nom %></td>
                        <% if(i <= chambreclient.length - 1) {
                        %>
                            <td><%= chambreclient[i].id_chambre %>   </td>
                            <% if(i <= commande.length - 1) {
                            %>

                                <% if(commande[i].lieu === 'Petit dejeune' && commande[i].id_client == row.id_client){ %>
                                    <td><%= commande[i].montant %></td>
                                <% }else{ %>
                                    <td>0</td>
                                <% } %>
                                <% if(commande[i].lieu === 'Restaurant' && commande[i].id_client === row.id_client){ %>
                                    <td><%= commande[i].montant %></td>
                                <% }else{ %>
                                    <td>0</td>
                                <% } %>
                                <% if(commande[i].lieu === 'Bar' && commande[i].id_client === row.id_client){ %>
                                    <td><%= commande[i].montant %></td>
                                <% }else{ %>
                                    <td>0</td>
                                <% } %>
                                <% if(commande[i].lieu === 'Linge' && commande[i].id_client === row.id_client){ %>
                                    <td><%= commande[i].montant %></td>
                                <% } else{ %>
                                    <td>0</td>
                                <% } %>
                                <% if(commande[i].lieu === 'Divers' && commande[i].id_client === row.id_client){ %>
                                    <td><%= commande[i].montant %></td>
                                <% } else{ %>
                                    <td>0</td>
                                <% } %>
                                <% if( commande[i].id_client === row.id_client){
                                    totalj = commande[i].montant * commande[i].nombre; %>
                                <td><%= totalj %></td>
                                <% }  else{ %>
                                    <td>0</td>
                                <% } %>

                                <% if(i <= commandeh.length - 1) {
                                %>
                                    <% if( commandeh[i].id_client === row.id_client){ totaljh = commandeh[i].montant * commandeh[i].nombre;
                                    %>
                                    <td><%= totaljh %></td>
                                    <% }  else{ %>
                                        <td>0</td>
                                    <% } %>
                                <% } else{ %>
                                    <td>0</td>
                                <% } %>
                                <td><%= totaljh + totalj %></td>
                                <% if( status[i].id_client === row.id_client){ %>

                                    <td><%= status[i].montant * status[i].nombre %></td>
                                <% }  else{ %>
                                    <td>0</td>
                                <% } %>

                                <td> <%= totaljh + totalj %></td>
                            <% } %>
                        <% } %>
                </tr>

                <% i = i + 1;
                }) } else { %>
                    <td></td>
                    <td>0</td>



                    <td>0</td>


                    <td>0</td>


                    <td>0</td>


                    <td>0</td>


                    <td>0</td>


                    <td>0</td>



                    <td>0</td>

                    <td>0</td>

                    <td>0</td>


                    <td>0</td>

                    </tr>
                <% } %>
            </table>


</div>
</section>

</main>


<!--------------------------------footer--------------------------------->
<footer>
    <p>copyrygth MI 2020</p>
</footer>
<!--------------------------------footer--------------------------------->
</div>

<!-----------------------------Jquery Library file---------------------------->
<script src="/js/Jquery3.4.1.min.js"></script>

<!-----------------------------Custom javascript file------------------------->
<script src="/js/main-main.js"></script>

</body>

</html>