<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_main.css">
    <!---------------------------------boostrap------------------------------->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--------------------------And of boostrap------------------------------>

    <!---------------------------------Font icons------------------------------->
    <link rel="stylesheet" href="/css/all_main.css">

    <title>Main courante</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/fontawesome-5.15.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../public/css/style_acceuil.css">
    <link rel="stylesheet" href="../../public/Accueil/css/style.css">
    <!---------------------------------boostrap------------------------------->
    <link rel="stylesheet" href="../../public/Accueil/css/bootstrap.min.css">
    <!--------------------------And of boostrap------------------------------>

    <!---------------------------------Font icons------------------------------->
    <link rel="stylesheet" href="../../public/Accueil/css/all.css">
    <script src="../../public/js/all.min.js"></script>

</head>

<body>
    <!------------------------header--------------------------------->

    <header>
        <ul>
            <img src="/image/Logo-atitle-hotelJ.png" class="logo" alt="">
            <li class="clientNom" id="nom" style="float:left"> ALTITEL HOTEL</li>
            <li><a href="/logout" class="deconnexion">Déconnexion</a></li>
            <li class=" main_courante"><a href="/receptioniste/main_courant">Main courante</a></li>
            <li class="bilan"><a href="">Bilan</a></li>
            <li class=" accueil"><a href="/acceuil/clients">Accueil</a></li>
        </ul>
    </header>

    <main>

        <section>

            <div class="title-date">
                <div class="title">
                    <h2>Main courante réception</h2>
                    <div style="text-align: center;">
                        <% if(typeof alert != 'undefined'){%>
                            <% alert.forEach(function(error){%>
                                <div class="champ justify-content-center text-center d-flex">
                                    <div class="col-md-8 p-2 text-center  alert-danger">
                                        <%= error.msg %>
                                    </div>
                                </div>
                                <% }) %>

                                    <% } %>
                    </div>
                </div>


                <form action="/receptioniste/main_courant/" method="POST">


                    <div class="date">
                        <label for="date">Selectionner la date ici</label>
                        <input type="date" name="date" id="date" class="date_color">
                        <button type="submit">valider</button>
                    </div>
                </form>
            </div>

            <section>
                <% var i=0;
            var totalj=0;
            var totaljh=0;
            var totalg=0;
            var Tlinge = 0;
            var Trestaurant = 0;
            var TpetitD = 0;
            var Tbar = 0;
            var Tdivers = 0;
            var Tchambre = 0;
            var Total = 0;
            var Veille = 0;
            var Reglement = 0;

           %>
                    <table class="table table-borderless">
                        <thead class="forme">
                            <tr>
                                <th>Nom</th>

                                <th>N_CH</th>
                                <th>Prix</th>
                                <th>Petit déjeuner</th>
                                <th>Restaurant</th>
                                <th>Bar</th>
                                <th>Linge</th>
                                <th>Divers</th>
                                <th>Total jour</th>
                                <th>Repport veille</th>
                                <th>Total général</th>
                                <th>Règlement</th>
                                <th>A raporter</th>
                            </tr>

                        </thead>

                        <tr>
                            <%
                    if(client.length>=1){
                    client.forEach(function(row){
                         totalj=0;
                         totaljh=0;
                         totalg=0;
                         Tlinge = 0;
                         Trestaurant = 0;
                         TpetitD = 0;
                         Tbar = 0;
                         Tdivers = 0;
                         Tchambre = 0;
                         Total = 0;
                         var num_ch = '';
                         Veille = 0;
                         Reglement = 0;
                    %>

                                <td>
                                    <%= row.nom %>
                                </td>
                                <% if(chambreclient.length>=1){%>
                                    <% chambreclient.forEach(function(ch){
                            if(ch.id_client === row.id_client){
                                Tchambre += ch.prix;
                                num_ch += ch.id_chambre + ', ';
                                %>
                                        <%  } })};%>
                                            <td>
                                                <%= num_ch %>
                                            </td>
                                            <td>
                                                <%= Tchambre %>
                                            </td>
                                            <% if(commande.length>=1){%>
                                                <% commande.forEach(function(cm){
                        if(cm.id_client === row.id_client ){
                            switch (cm.lieu) {
                                case 'Petit dejeune':
                                    TpetitD += cm.montant * cm.nombre;
                                    break;
                                case 'Restaurant':
                                    Trestaurant += cm.montant * cm.nombre;
                                    break;
                                case 'Bar':
                                    Tbar += cm.montant * cm.nombre;
                                    break;
                                case 'Linge':
                                    Tlinge += cm.montant * cm.nombre;
                                    break;
                                case 'Divers':
                                    Tdivers += cm.montant * cm.nombre;
                                    break;
                                default: Tdivers =0, Tlinge = 0; Tbar = 0; TpetitD = 0; Trestaurant =0;
                            } %>

                                                    <% } })} %>
                                                        <td>
                                                            <%=TpetitD%>
                                                        </td>
                                                        <td>
                                                            <%=Trestaurant%>
                                                        </td>
                                                        <td>
                                                            <%=Tbar%>
                                                        </td>
                                                        <td>
                                                            <%=Tlinge%>
                                                        </td>
                                                        <td>
                                                            <%=Tdivers%>
                                                        </td>
                                                        <%Total = Tlinge  + TpetitD + Tbar + Trestaurant + Tdivers + Tchambre;%>

                                                            <td>
                                                                <%= Total %>
                                                            </td>
                                                            <% if (commandeh != undefined)
                        commandeh.forEach(function(f){
                    if(f.id_client === row.id_client){
                            Veille += f.reporter;
                            Reglement += f.reglement;
                      } });%>
                                                                <%if (facture != undefined)
                        facture.forEach(function(f){
                    if(f.id_client === row.id_client){
                           
                            Reglement += f.reglement;
                      } });%>
                                                                    <td>
                                                                        <%= Veille%>
                                                                    </td>
                                                                    <td>
                                                                        <%= Veille + Total%>
                                                                    </td>
                                                                    <td>
                                                                        <%= Reglement %>
                                                                    </td>
                                                                    <td>
                                                                        <%= Veille + Total - Reglement %>
                                                                    </td>
                        </tr>
                        <% i = i + 1;
                }) } else { %>
                            <td></td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            </tr>
                            <% } %>
                    </table>


                    </div>
            </section>
        </section>
    </main>



    <!--------------------------------footer-----------------------------
<footer>
    <p>copyrygth MI 2020</p>
</footer>
-----------------------------footer--------------------------------->
    </div>

    <!-----------------------------Jquery Library file---------------------------->
    <script src="/js/Jquery3.4.1.min.js"></script>

    <!-----------------------------Custom javascript file------------------------->
    <script src="/js/main-main.js"></script>

</body>

</html>