<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_main.css">
    <!---------------------------------boostrap------------------------------->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--------------------------And of boostrap------------------------------>

    <!---------------------------------Font icons------------------------------->
    <link rel="stylesheet" href="/css/all_main.css">
    <!--------------------------And of Font icons------------------------------>
    <title>Document</title>
    <style>
        .logo {
            width: 45px !important;
            height: 45px !important;
            position: absolute;
            margin-left: 1%;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            overflow: hidden;
            background-color: #273486;
            padding: 0%;
        }
        
        li {
            float: right;
        }
        
        li a {
            display: block;
            padding: 3%;
            color: white;
            text-align: center;
            text-decoration: none;
            float: right;
            text-align: center;
            padding: 14px 16px;
            font-weight: bold;
            transition: .5s;
        }
        
        .deconnexion {
            background-color: white;
            color: #273486;
            transition: .5s;
        }
        
        li a:hover,
        .deconnexion:hover {
            background-color: #337ad8;
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
        
        .clientNom {
            color: white;
            font-size: 1rem;
            font-weight: bold;
            margin-left: 60px;
            margin-top: 8px;
        }
        
        .footer {
            color: #ED2227;
            align-items: center;
            margin-top: 5px;
            bottom: 0;
            padding-top: 15px;
            width: 100%;
            margin-left: 43%;
        }
        
        .overlay {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }
        
        @media only screen and (min-width: 768px) {
            .clientNom {
                color: white;
                font-size: 1.5rem;
                font-weight: bold;
            }
            .logo {
                width: 45px;
                height: 45px;
                position: absolute;
            }
        }
    </style>
</head>

<body>

    <!--------------------------------Navigation------------------------------->
    <header>
        <ul>
            <img src="/image/Logo-atitle-hotelJ.png" class="logo" alt="">
            <li class="clientNom" id="nom" style="float:left"> HOTEL ALTITEL</li>
            <li><a href="/logout" class="deconnexion">Déconnexion</a></li>
            <li class=" main_courante"><a href="/receptioniste/main_courant">Main courante</a></li>
            <li class="bilan"><a href="/bilan">Bilan</a></li>
            <li class=" accueil"><a href="/acceuil/clients">Accueil</a></li>
        </ul>
    </header>
    <!-----------------------------Navigation--------------------------->


    <!-----------------------------Main site section--------------------------->

    <main>

        <!----------------------------site title---------------------------->

        <section>

            <div class="title-date">
                <div class="title">
                    <h2>Bilan mensuel des recettes et dépenses </h2>
                </div>
                <div style="text-align: center;">
                    <% if(typeof alert != 'undefined'){%>
                        <% alert.forEach(function(error){%>
                            <div class="champ justify-content-center text-center d-flex">
                                <div class="col-md-8 p-2 text-center  alert-danger">
                                    <%= error.msg %>
                                </div>
                            </div>
                            <% }) %>

                                <% } %>
                </div>
                <div class="date">
                    <form action="/bilan" method="POST">
                        <label for="date">Selectionner la date ici</label>
                        <input type="date" name="date" id="date"  class="date_color">
                        <button type="submit" class="botton-valide">Valider</button>
                    </form>
                </div>
            </div>

        </section>

        <!----------------------------End of site title------------------------------>

        <!--------------------------------Tableau------------------------------------->

        <section>
            <% var i=0;
        var totalj=0;
        var totaljh=0;
        var totalg=0;
        var Tlinge = 0;
        var Trestaurant = 0;
        var TpetitD = 0;
        var Tbar = 0;
        var Tdivers = 0;
        var Tchambre = 0;
        var Total = 0;
        var Veille = 0;
        var Reglement = 0;
        var ent=0;
        var sor=0;

       %>

                <table class="table table-borderless">
                    <thead class="forme">

                        <tr style="font-size: 1.6rem;">
                            <th>Liste des entrées</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Liste des sorties</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                            
                            <th>Résultat</th>
                        </tr>
                        <tr style="color: black;">
                            <th>Date </th>
                            <th>Hebergement</th>
                            <th>Bar</th>
                            <th>Restaurant</th>
                            <th>Autres sources</th>
                            <th>Total</th>
                            <th>Cumul</th>
                            <th>Date </th>
                            <th>Hebergement</th>
                            <th>Bar</th>
                            <th>Restaurant</th>
                            <th>Charge</th>
                            <th>Divers</th>
                            <th>Total</th>
                            <th>Cumul</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <%sor=sorti.length; ent=entree.length;%>
                        <%if(sor>=ent){
                            Veille = 0;
                            Veille1 = 0;
          for(var j=0;j<=sor-1;j++){ %>
                                                             <% totalj=0;
                                                              totaljh=0;
                                                              totalg=0;
                                                              Tlinge = 0;
                                                              Trestaurant = 0;
                                                              TpetitD = 0;
                                                              Tbar = 0;
                                                              Tdivers = 0;
                                                              Tchambre = 0;
                                                             
                                                              var num_ch = '';
                                                               if(entree.length-1>=j){ %>
                                                                <tr>
                                                                                
                                                                    

                                                                    <td>
                                                                        <%=num_ch=entree[j].date%>
                                                                    </td>
                                                                        <td>
                                                                            <%=TpetitD=entree[j].hebergement%>
                                                                        </td>

                                                                        <td>
                                                                            <%=Tbar=entree[j].bar%>
                                                                        </td>

                                                                        <td>
                                                                            <%=Trestaurant=entree[j].restaurant%>
                                                                        </td>
                                                                        
                                                                        <td>
                                                                            <%= Tdivers=entree[j].divers %>
                                                                        </td>

                                                                        <%Reglement = Tlinge  + TpetitD + Tbar + Trestaurant + Tdivers + Tchambre;%>
                                                                            <td>
                                                                                <%= Reglement %>
                                                                            </td>



                                                                            <% Tdivers =0, Tlinge = 0; Tbar = 0; TpetitD = 0; Trestaurant =0;if (entreeh != undefined){
                                                              entreeh.forEach(function(sort){%>

                                                                                <%
                                                                
                                                                        TpetitD =sort.hebergement;
                                                                       
                                                                        Trestaurant =sort.restaurant;
                                                                        
                                                                        Tbar = sort.bar;
                                                                       
                                                                        
                                                                        
                                                                        Tdivers = sort.divers;
                                                                       
                                                                 })}%>
                                                                                    <%Veille = Veille + Reglement%>



                                                                                        <td>
                                                                                            <%= Veille%>
                                                                                        </td>

                                                                                        <% 
                                                                                                         } else { %>
                                                                                            <td>0</td>
                                                                                            <td>0</td>
                                                                                            <td>0</td>
                                                                                            <td>0</td>
                                                                                            <td>0</td>
                                                                                            <td>0</td>
                                                                                            <td>0</td>
                                                                                            <td>0</td>


                                                                                            <% } %>
                                                                                            <%Total = 0;;
                                                                                            totalj=0;
                                                                                            totaljh=0;
                                                                                            totalg=0;
                                                                                            Tlinge = 0;
                                                                                            Trestaurant = 0;
                                                                                            TpetitD = 0;
                                                                                            Tbar = 0;
                                                                                            Tdivers = 0;
                                                                                            Tchambre = 0;
                                                                                           
                                                                                            var num_ch = '';
                                                                                            
                                                                                          %>
                                                                                                            <% if(sorti.length>=1){ %>
                                                                                                                
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                                                <td>
                                                                                                                    <%=num_ch=sorti[j].date%>
                                                                                                                </td>
                                                                                                                <td>
                                                                                                                    <%=Tlinge=sorti[j].hebergement%>
                                                                                                                </td>
                                                                                
                                                                                                                        <td>
                                                                                                                            <%=TpetitD=sorti[j].bar%>
                                                                                                                        </td>
                                                                                
                                                                                                                        <td>
                                                                                                                            <%=Tbar=sorti[j].restaurant%>
                                                                                                                        </td>
                                                                                
                                                                                                                        <td>
                                                                                                                            <%=Trestaurant=sorti[j].charge%>
                                                                                                                        </td>
                                                                                                                        <td>
                                                                                                                            <%= Tdivers=sorti[j].divers %>
                                                                                                                        </td>
                                                                                                                        <%Total = Tlinge  + TpetitD + Tbar + Trestaurant + Tdivers + Tchambre;%>
                                                                                                                            <td>
                                                                                                                                <%= Total %>
                                                                                                                            </td>
                                                                                
                                                                               
                                                                                
                                                                                                                           
                                                                                                                                   
                                                                                
                                                                                
                                                                                
                                                                                                                                        <td>
                                                                                                                                            <%=Veille1=Veille1+Total%>
                                                                                                                                        </td>
                                                                                
                                                                                                                                        <% 
                                                                                                                                     } else { %>
                                                                                                                                            <td>0</td>
                                                                                                                                            <td>0</td>
                                                                                                                                            <td>0</td>
                                                                                                                                            <td>0</td>
                                                                                                                                            <td>0</td>
                                                                                                                                            <td>0</td>
                                                                                                                                            <td>0</td>
                                                                                
                                                                                
                                                                                                                                            <% } %>
                                                                                                <td>
                                                                                                    
                                                                                                        <%= -Veille1+Veille%>
                                                                                                           
                                                                                                </td>
                                </tr>


                                <%}}else{ Veille = 0;
                                    Veille1 = 0;%>
                                   
                                    <%for(var j=0;j<=ent-1;j++){%>
            


                                        <% totalj=0;
                                                              totaljh=0;
                                                              totalg=0;
                                                              Tlinge = 0;
                                                              Trestaurant = 0;
                                                              TpetitD = 0;
                                                              Tbar = 0;
                                                              Tdivers = 0;
                                                              Tchambre = 0;
                                                             
                                                              var num_ch = '';
                                                               if(entree.length-1>=j){ %>
                                                                <tr>
                                                                                
                                                                    
                                                                    <td>
                                                                    <%=num_ch=entree[j].date%>
                                                                    </td>
                                                                        <td>
                                                                            <%=TpetitD=entree[j].hebergement%>
                                                                        </td>

                                                                        <td>
                                                                            <%=Tbar=entree[j].bar%>
                                                                        </td>

                                                                        <td>
                                                                            <%=Trestaurant=entree[j].restaurant%>
                                                                        </td>
                                                                        
                                                                        <td>
                                                                            <%= Tdivers=entree[j].divers %>
                                                                        </td>

                                                                        <%Reglement = Tlinge  + TpetitD + Tbar + Trestaurant + Tdivers + Tchambre;%>
                                                                            <td>
                                                                                <%= Reglement %>
                                                                            </td>



                                                                            <% Tdivers =0, Tlinge = 0; Tbar = 0; TpetitD = 0; Trestaurant =0;if (entreeh != undefined){
                                                              entreeh.forEach(function(sort){%>

                                                                                <%
                                                                
                                                                        TpetitD =sort.hebergement;
                                                                       
                                                                        Trestaurant =sort.restaurant;
                                                                        
                                                                        Tbar = sort.bar;
                                                                       
                                                                        
                                                                        
                                                                        Tdivers = sort.divers;
                                                                       
                                                                 })}%>
                                                                                    <%Veille = Veille + Reglement%>



                                                                                        <td>
                                                                                            <%= Veille%>
                                                                                        </td>

                                                                                        <% 
                                                                                                         } else { %>
                                                                                            <td>0</td>
                                                                                            <td>0</td>
                                                                                            <td>0</td>
                                                                                            <td>0</td>
                                                                                            <td>0</td>
                                                                                            <td>0</td>
                                                                                            <td>0</td>
                                                                                            <td>0</td>


                                                                                            <% } %>
                                                                      <%Total = 0;
                                                                      totalj=0;
                                                                      totaljh=0;
                                                                      totalg=0;
                                                                      Tlinge = 0;
                                                                      Trestaurant = 0;
                                                                      TpetitD = 0;
                                                                      Tbar = 0;
                                                                      Tdivers = 0;
                                                                      Tchambre = 0;
                                                                     
                                                                      var num_ch = '';
                                                                      
                                                                    %>
                                                                                      <% if(sorti.length-1>=j){ %>
                                                                                          
                                                          
                                                          
                                                          
                                                                                       
                                                          
                                                                                        <td>
                                                                                            <%=num_ch=sorti[j].date%>
                                                                                        </td>
                                                                                             
                                                                                        <td>
                                                                                            <%=Tlinge=sorti[j].hebergement%>
                                                                                        </td>
                                                          
                                                                                                  <td>
                                                                                                      <%=TpetitD=sorti[j].bar%>
                                                                                                  </td>
                                                          
                                                                                                  <td>
                                                                                                      <%=Tbar=sorti[j].restaurant%>
                                                                                                  </td>
                                                          
                                                                                                  <td>
                                                                                                      <%=Trestaurant=sorti[j].charge%>
                                                                                                  </td>
                                                                                                  <td>
                                                                                                      <%= Tdivers=sorti[j].divers %>
                                                                                                  </td>
                                                                                                  <%Total = Tlinge  + TpetitD + Tbar + Trestaurant + Tdivers + Tchambre;%>
                                                                                                      <td>
                                                                                                          <%= Total %>
                                                                                                      </td>
                                                          
                                                          
                                                                                                                  <td>
                                                                                                                    <%=Veille1=Veille1+Total%>
                                                                                                                  </td>
                                                          
                                                                                                                  <% 
                                                                                                               } else { %>
                                                                                                                      <td>0</td>
                                                                                                                      <td>0</td>
                                                                                                                      <td>0</td>
                                                                                                                      <td>0</td>
                                                                                                                      <td>0</td>
                                                                                                                      <td>0</td>
                                                                                                                      <td>0</td>
                                                                                                                      <td>0</td>
                                                          
                                                          
                                                                                                                      <% } %>
                                                                          <td>
                                                                              
                                                                            <%= -Veille1+Veille%>
                                                                                     
                                                                          </td>
          </tr>

                                            <%}}%>
                </table>
                </div>

        </section>


        <!------------------------------End of Tableau-------------------------------->


    </main>

    <!-----------------------------End of Main site section----------------------->


    <!-----------------------------Jquery Library file---------------------------->
    <script src="./js/Jquery3.4.1.min.js"></script>

    <!-----------------------------Custom javascript file------------------------->
    <script src="./js/main.js"></script>
</body>

</html>